/* TODO: Create media queries to support various types of screen resolutions */
html, body {
	height: 100%;
}
ul {
	margin: 0;
	padding: 0;  
	list-style: none;
}
li { 
	margin: 0; 
	padding: 0;
	cursor:default;
	transition: background-color 0.2s ease; 
} 
li:hover { 
	background: rgb(242,249,254); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,249,254,1)), color-stop(100%,rgba(214,240,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 ); /* IE6-9 */
}
.pushRight {
	float: right;
}

#container {
	height: 100%;
	margin: 10px 10px;
}
.chatRoomBox {
	background: #FFFFFF no-repeat fixed center;
	padding: 0px 10px 10px 10px;
	height: 80%;
}
.chatMessagesBox {
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border: 2px solid #383838;
	height: 100%;
	padding: 10px;
	overflow: scroll;
}
.chatUsersBox {
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border: 2px solid #383838;
	height: 100%;
	padding: 10px;
	overflow: scroll;
}
.chatTextBox {
	padding: 0px 10px;
}
.registerBGImage {
	background: url(../../images/phonebooth-bg.jpg) no-repeat center center fixed;
	min-width: 100%;
	min-height: 100%;
	margin: -10px;
	padding: -10px;
}
.centerRegisterForm {
	position:fixed;
	top: 50%;
	left: 30%;
}