/* TODO: Create media queries to support various types of screen resolutions */
html, body {
	height: 100%;
}
#container {
	height: 100%;
	margin: 10px 10px;
}
.chatRoomBox {
	background: #FFFFFF no-repeat fixed center;
	padding: 0px 10px 10px 10px;
	height: 80%;
}
.chatMessagesBox {
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border: 2px solid #383838;
	height: 100%;
	padding: 10px;
	overflow: scroll;
}
.chatUsersBox {
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border: 2px solid #383838;
	height: 100%;
	padding: 10px;
	overflow: scroll;
}
.chatTextBox {
	padding: 0px 10px;
}
.registerBGImage {
	background: url(../../images/phonebooth-bg.jpg) no-repeat center center fixed;
	min-width: 100%;
	min-height: 100%;
	margin: -10px;
	padding: -10px;
}
.centerRegisterForm {
	position:fixed;
	top: 50%;
	left: 30%;
}