<h1><i class="fa fa-comment-o"></i> ChatRoom</h1>
<div class="row chatRoomBox">
	<div class="col-md-10 chatMessagesBox pushLeft">
		<div>
			<h3><i class="fa fa-tty"></i> Messages</h3>
			<div id="chatMessageBoard"></div>
		</div>
	</div>
	<div class="col-md-2 chatUsersBox pushRight">
		<h3><i class="fa fa-users"></i> Users</h3>
		<div id="chatUsers">
			<ul></ul>
		</div>
	</div>
</div>
<div class="row chatTextBox">
	<form class="form-horizontal col-md-12" ng-submit="sendMessageToAll()">
		<div class="form-group col-md-8">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-comments-o"></i></span>
				<input id="messageToAll" class="form-control" type="text" placeholder="Enter text" required>
			</div>
		</div>
		<div class="form-group col-md-4">
			<button type="submit" class="btn btn-default">Enter</button>
		</div>
	</form>
</div>