<h1><i class="fa fa-comment-o"></i> Secret ChatRoom!</h1>
<div class="chatRoomBox">
	<div class="row">
		<div class="col-md-5 chatVideoBox">
			<h3><i class="fa fa-video-camera"></i> Local</h3>
			<video id="chatLocalVideoBox" autoplay></video>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-5 chatVideoBox">
			<h3><i class="fa fa-video-camera"></i> Remote</h3>
			<video id="chatRemoteVideoBox" muted="true" autoplay></video>
		</div>
	</div><br/>
	<div class="row">
		<div class="col-md-12 chatMessagesBox">
			<div>
				<h3><i class="fa fa-tty"></i> Messages</h3>
				<div id="chatMessageBoard"></div>
			</div>
		</div>
	</div>
</div>
<div class="row chatTextBox">
	<form class="form-horizontal col-md-12" ng-submit="sendMessageToUser()">
		<div class="form-group col-md-8">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-comments-o"></i></span>
				<input id="messageToUser" class="form-control" type="text" placeholder="Enter text" required>
			</div>
		</div>
		<div class="form-group col-md-4">
			<button type="submit" class="btn btn-default">Enter</button>
		</div>
	</form>
</div>